.admin-header {
    background-color: #61dafb;
    width: 80%; 
    margin: 20px auto 0; 
    padding: 10px; 
    border-radius:15px;
    border: solid 2px;
    border-width: 2px 5px 5px 2px; 
}

.profile-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
}

.logout-btn {
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #555;
}
